<form action="/signup" method="POST">
    <input type="text" name='username' placeholder="username" autocomplete="off">
    <input type='email' name='email' placeholder="email" autocomplete="off">
    <input type='password' name='password' placeholder="password" autocomplete="off">
    <button type="submit">Sign up</button>
</form>